# frozen_string_literal: true

require 'rails_helper'
# setup invoke and assert

describe Services::<%= class_name %> do
  let(:service) { Services::<%= class_name %>.new }

  describe '.call' do
  end
end
