# frozen_string_literal: true

module Services
<% module_namespacing do -%>
  class <%= class_name %>

  def call
  end

  <% if actions.present? -%>
    private
  <% end -%>
  <% actions.each do |action| -%>
    def <%= action %>
    end
    <%= "\n" unless action == actions.last -%>
  <% end -%>
  end
<% end -%>
end
