<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<% title = "#{@spell.name} #{@spell.name_en}" %>
<% content_for :title do %>
  <%= title %>
<% end %>

<% content_for :head do %>
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="/spells/<%= @spell.id %>" />
  <meta property="og:image" content="" />
  <meta property="og:description" content="<%= @spell.description %>" />
<% end %>

<% data = @spell.attributes.deep_transform_keys! { |key| key.camelize :lower } %>
<div class="w-full h-full mt-4 flex items-center justify-center">
  <div style="width: 460px">
    <%= react_component 'SpellCard', { spell: data, expand: true }, { prerender: params[:noprerender].nil? } %>
  </div>
</div>
