<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "D20" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head if content_for? :head %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
